; <?php exit; ?> DO NOT DELETE THIS LINE
dbhost="${appconfig.mysql.dbhost.maindb}"
dbport="3306"
dbuser="${appconfig.mysql.dbuser.maindb}"
dbpass="${escapeSquote(appconfig.mysql.dbusercredential.maindb)}"
dbname="${appconfig.mysql.dbname.maindb}"
tblpfx="wt_"
